---
layout: minimal
---
{% include components/headers.html headertype= page.header_type imghero=page.header_img projects=page.project_links %}
<main class="container-lg pb-3 flex-fill">
    {% if page.show_breadcrumb or page.show_date or page.show_sociallinks -%}
    {%- include components/breadcrumbdatesocial.html -%}
    {% endif %}
    <div class="row pt-1">
        <aside class="col-lg-2 mt-lg-1 small hero-sidetoc-container">
            {% if page.show_sidetoc %}
            <nav class="hero-sidetoc-nav" aria-label="Table of contents">
                <div class="hero-sidetoc-title">INDEX</div>
                {% include components/toc.html sanitize=false html=content h_min=1 h_max=3 skip_no_ids=true id="toc" class="hero-toc-list" %}
            </nav>
            {% endif %}
            {%- if page.show_author -%}
            {% include components/author.html %}
            {%- endif -%}
        </aside>
        <article id="maincontent" class="col-lg-10 mt-1 e-content">

            {{- content -}}

            {% if page.show_applause %}
            <div class="mb-2 mt-5 text-center"><applause-button id="applause" class="mx-auto" style="width: 40px; height: 40px;" url="{{ page.url | absolute_url }}"></applause-button></div>
            {% endif %}
        </article>

    </div>
</main>
{%- if page.show_bottomnavs -%}
{%- include components/navbeforeafter.html -%}
{%- endif -%}
{%- if page.show_categories -%}
{% assign size = page.categories | size %}
{% if size > 0 %}
{%- include components/categories.html-%}
{% endif %}
{%- endif -%}
{%- if page.show_tags -%}
{% assign size = page.tags | size %}
{% if size > 0 %}
{%- include components/tags.html-%}
{% endif %}
{%- endif -%}
{%- if page.show_related -%}
{%- include components/related.html -%}
{%- endif -%}


<a href="#" id="scrollToTopBtn" title="Torna su">↑</a>

<script>
  const btn = document.getElementById("scrollToTopBtn");

  window.onscroll = function () {
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
      btn.style.display = "block";
    } else {
      btn.style.display = "none";
    }
  };

  btn.addEventListener("click", function (e) {
    e.preventDefault();
    window.scrollTo({ top: 0, behavior: 'smooth' });
  });
</script>
